addict
pillow
torch==1.13.1 -e https://download.pytorch.org/whl/cu117
torchvision==0.14.1 -e https://download.pytorch.org/whl/cu117
pypng
matplotlib
numpy
opencv-python
scikit-image
numpy
black
ipykernel
jupyter